@import url('fonts/Roboto-Thin.ttf');
@import url('fonts/LibreBaskerville-Regular.ttf');
@import url('fonts/WorkSans-Light.ttf');

.header {
  font-family: 'Libre Baskerville', serif;
  padding: 2rem 0 0;
  width: auto;
}

.header h1 {
  font-size: 3.2rem;
}

.blue-color {
  color: #adbcbb;
}

.move-down-a-bit {
  padding-top: 1.5rem;
}

a.nav-item {
  font-family: 'Roboto', sans-serif;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.active {
  color: #adbcbb !important;
  font-weight: bold;
}

.align-nav-center {
  margin: auto;
}

.text-font {
  font-family: 'Work Sans', sans-serif;
}

.row img {
  border: 5px double #adbcbb;
}

.no-border {
  border: none !important;
}

.testimonials p {
  color: #a4acad;
}